<!DOCTYPE html>
<html>
    <head>
        <head>Welcome</head>
        <link rel="stylesheet" href="static/css/login/index.css">
        <meta name="viewport" content="width=device-width, initial-scale=1">
    </head>
    <body>
        <!-- Description of site -->
        <h1>
            Welcome to Python Project Manager!
        </h1>
        <h2>
            What is this?
        </h2>
        <p>
            Python Project Manager is a web application intended to
            assist developers in creating and managing replicable
            templates involving Python programming projects.
        </p>
    </body>
</html>
